.float-right {
    float: right;
}

mat-card {
    padding: 20px;
}
.responsive_table1{
    width: 25%;
    float: right;
}
.responsive_table2{
    width: 70%;
    float: left;
}
table {
    width: 100%;
}

::ng-deep .highlight {
    color: white;
    background: #671AB7;
}
